
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'PrimaryFont';
    src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SecondaryFont';
    src: url('https://fonts.googleapis.com/css2?family=Your+Font+Family:ital,wght@0,400;0,700;1,400&display=swap');
    font-weight: 500;
    font-style: normal;
}

:root {
    --primary-color: #131212;
    --secondary-color: #ffffff;
    --tertiary-color: #ff760a;
    --dark-text-color: #000000;
    --light-text-color: #ffffff;
    --low-light-text-color: #d0d0d0;
    --low-contrast-dark-color: #2B2A2A;
    --input-bg-color: #F6F5F5;
    --input-bg-color-type-two: #464646;
    --input-bg-color-type-three: #2A2929;
    --size-pictureframe: 40px;
}

*{
    box-sizing:border-box;
}

body{
    font-family:'Inter', sans-serif;
    background-color: var(--primary-color);
}

/*-- navigation --*/
    .header-logo-span{
        font-size: clamp(1em, 2vw, 2em);
        font-weight: 600;
        color: var(--secondary-color);
    }

    .header-logo-span:nth-last-of-type(2){
        font-weight: 300;
    }

    .header-logo-span:last-of-type{
        display:inline-block;
        font-weight: 300;
    }

    .feature-dot{
        width:5px;
        height:5px;
        border-radius:100%;
        background-color: var(--tertiary-color);
        transform: translateX(-4px);
    }

    .nav-link-dp{
        color:var(--light-text-color);
    }

    .nav-link-dp:hover{
        color:var(--tertiary-color) !important;
        transition: 0.2s ease;
    }

    .btn-nav-link-dp{
        border-radius: 5px !important;
        background-color:var(--tertiary-color);
    }

    .btn-nav-link-dp:hover{
        border-radius:5px !important;
        background-color:var(--tertiary-color) !important;
        transition: 0.2s ease;
    }

    #offcanvasRight{
        width:100% !important;
    }

    .mobile-nav-link{
        color:var(--dark-text-color);
        font-weight:700;
    }

    .mobile-nav-link:hover{

        color:var(--tertiary-color);
        font-weight:500;
    }

    .mb-nav-block-btn{
        width:100% !important;

        background-color:var(--tertiary-color);
        color:var(--light-text-color);
        font-weight:500;
        border-radius:5px !important;
    }

    .mb-nav-block-btn:hover{
        background-color:var(--tertiary-color) !important;
        transition: 0.2s ease;
    }

    .mb-navbar-nav{
      position:relative;
    }

    #nav-toggler-mobile-close-btn{
      font-size: clamp(2em, 4vw, 4em);
      position: absolute;
      top:3vh;
      right:3vh;
      border:3px solid red;
    }

    .navbar-light .navbar-toggler-icon {
      background-image: url(../Images/custom-nav-toggler-light.png);
    }

    .navbar-toggler,
    .navbar-toggler-icon:focus,
    .navbar-toggler:active,
    .navbar-toggler:focus {
        border: none;
        box-shadow: none;
        outline: none
    }
/*-- navigation --*/

