
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@font-face {
    font-family: 'PrimaryFont';
    src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SecondaryFont';
    src: url('https://fonts.googleapis.com/css2?family=Your+Font+Family:ital,wght@0,400;0,700;1,400&display=swap');
    font-weight: 500;
    font-style: normal;
}

:root {
    --primary-color: #131212;
    --secondary-color: #ffffff;
    --tertiary-color: #ffD700;
    --old-tertiary-color: #ff760a;
    --dark-text-color: #000000;
    --light-text-color: #ffffff;
    --low-light-text-color: #d0d0d0;
    --low-contrast-dark-color: #2B2A2A;
    --input-bg-color: #F6F5F5;
    --input-bg-color-type-two: #464646;
    --input-bg-color-type-three: #2A2929;
    --size-pictureframe: clamp(35px, 2vw, 80px);
}

*{
    box-sizing:border-box;
} 

body{
    font-family:'Inter', sans-serif;
    background-color: var(--primary-color);
    overflow-x: hidden;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

#hero-section-img-block{
  background: linear-gradient(rgba(13, 73, 13, 0.5), rgba(31, 32, 31, 0.5)), url('../Images/the-matrix.gif') center/cover no-repeat;
}

/*-- navigation --*/
    .header-logo-span{
        font-size: clamp(1em, 2vw, 2em);
        font-weight: 600;
        color: var(--secondary-color);
    }

    .header-logo-span:nth-last-of-type(2){
        font-weight: 300;
    }

    .header-logo-span:last-of-type{
        display:inline-block;
        font-weight: 300;
    }

    .feature-dot{
        width:5px;
        height:5px;
        border-radius:100%;
        background-color: var(--tertiary-color);
        transform: translateX(-4px);
    }

    .nav-link-dp{
        color:var(--light-text-color);
    }

    .nav-link-dp:hover{
        color:var(--tertiary-color) !important;
        transition: 0.2s ease;
    }

    .btn-nav-link-dp{
        border-radius: 5px !important;
        background-color:var(--tertiary-color);
    }

    .btn-nav-link-dp:hover{
        border-radius:5px !important;
        background-color:var(--tertiary-color) !important;
        transition: 0.2s ease;
    }

    #offcanvasRight{
        width:100% !important;
    }

    .mobile-nav-link{
        color:var(--dark-text-color);
        font-weight:700;
    }

    .mobile-nav-link:hover{
        color:var(--tertiary-color);
        font-weight:500;
    }

    .mb-nav-block-btn{
        width:100% !important;

        background-color:var(--tertiary-color);
        color:var(--light-text-color);
        font-weight:500;
        border-radius:5px !important;
    }

    .mb-nav-block-btn:hover{
        background-color:var(--tertiary-color) !important;
        transition: 0.2s ease;
    }

    .mb-navbar-nav{
      position:relative;
    }

    #nav-toggler-mobile-close-btn{
      font-size: clamp(2em, 4vw, 4em);
      position: absolute;
      top:3vh;
      right:3vh;
    }

    .navbar-light .navbar-toggler-icon {
      background-image: url(../Images/custom-nav-toggler-light.png);
    }

    .navbar-toggler,
    .navbar-toggler-icon:focus,
    .navbar-toggler:active,
    .navbar-toggler:focus {
        border: none;
        box-shadow: none;
        outline: none
    }
/*-- navigation --*/

/*-- Hero section--*/
.hero-text-section{
  position:relative;
  margin-top:10vh !important;
  background-color: transparent;
}

.hero-text-section h1{
  color:var(--light-text-color);
  font-size: clamp(3.5em, 7vw, 8em);
  font-weight:700;
  line-height: 1.1;
  opacity:0;
}

.featured-highlighted-text-block{
  color:var(--tertiary-color);
}

.responsive-fetured-vector-img{
  transform: translateY(0.5rem);
}

.hero-section-animation-block{
  width:220px !important;
  height:220px !important;
  position:absolute;
  top:-40px;
  right:20px;
}

/*-- hero section animation block --*/
.badge {
  --badge-size: 200px;
  --badge-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--badge-size);
  height: var(--badge-size);
  background: var(--black);
  border-radius: 100%;
  box-shadow: inset 0 0 0 0.9rem var(--badge-color);
  animation: identifier 20s linear infinite;
}

.badge__emoji {
  display: block;
  margin: 0;
  animation: identifier 25s linear infinite;
  animation-direction: reverse;
  transition: all 0.3s;
  width:35px; 
  height:35px;
}
.badge__emoji:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.badge__char {
  --char-font-weight: 600;
  --char-font-size: 1em;
  --char-width: 10px;
  --char-font-family: "Arial", sans-serif;
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - var(--char-width) / 2);
  height: calc(var(--badge-size) / 2);
  width: var(--char-width);
  background-repeat: round;
  text-align: center;
  text-transform: uppercase;
  line-height: 1rem;
  font-weight: var(--char-font-weight);
  font-size: var(--char-font-size);
  color: var(--white);
  font-family: var(--char-font-family);
  transform-origin: bottom center;
  transform: rotate(var(--char-rotate));

  font-family:'Inter', sans-serif;
  font-weight: 300 !important;
  font-size: 1em !important;
  color: var(--light-text-color) !important;
}

@keyframes identifier {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(90deg);
  }

  40% {
    transform: rotate(90deg);
  }

  60% {
    transform: rotate(180deg);
  }

  70% {
    transform: rotate(180deg);
  }

  90% {
    transform: rotate(270deg);
  }

  95% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
/*--hero section animation block --*/

/*--our-work-section --*/
 .our-work-section{
    font-family: 'Nunito', sans-serif;
    font-weight: 300 !important;
    font-size: clamp(1.3em, 1vw, 3em);
    color: var(--light-text-color) !important;
    line-height: 1.5;
    /* margin-top:10vh; */
  }

  .responsive_featured_arrow_image{
    max-width:100%;
    height:auto;
  }

  .circles-gallery {
    position: relative;
    height: var(--size-pictureframe);
    margin-left: calc(var(--size-pictureframe) * 0.5);
  }
  .circles-gallery > * {
    position: relative;
    display: inline-block;
    margin-left: calc(var(--size-pictureframe) * -0.3);
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    z-index: 10;
  }

  .work_section_clients_count{
    flex-shrink: 0 !important;
    margin-left: 1em;
    font-weight: 600;
  }

  .our_work_section_picture_spot{
    position:relative;
  }

  .responsive_featured_working_personnel{
    max-width:100%;
    height:auto;
    position: absolute;
    top:0;
    right:0;
    transition: filter 0.3s ease;
  }

  .responsive_featured_working_personnel:hover {
    filter: grayscale(100%);
  }

  .display-link-circle{
    width:130px;
    height:130px;
    font-family:'Inter', sans-serif;
    font-weight: 400 !important;
    font-size: 1.2em !important;
    color: var(--light-text-color) !important;
    background-color: var(--tertiary-color) !important;
    border-radius:100%;
    flex-direction:column !important;
    align-items:center !important;
    justify-content: center !important;
    position: absolute;
    top:60%;
    right:-65px;
  }

  .responsive_featured_arrow_image_2{
    width: 20px;
    height: 20px;
  }

  .featured_our_work_link_text{
    font-size: 20px !important;
    font-weight: 600;
  }
/*--our-work-section --*/

/*-- spacer-section --*/
.spacer-section{
  background-color: var(--light-text-color);
}

.spacer-section_in_div{
  border-bottom: 1px solid var(--input-bg-color-type-two);
}
/*-- spacer-section --*/

/*-- first-text-block-section --*/
.first-text-block{
  font-family:'Inter', sans-serif;
  background-color: var(--light-text-color);
}

.first-text-block .in_div_container{
  border-bottom: 1px solid #717171;
}

.first-text-block .first-block{
  font-family:'Inter', sans-serif;
  font-weight: 700;
  font-size: clamp(2em, 2vw, 5em);
  color: var(--dark-text-color);
}

.first-text-block .second-block{
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: clamp(1.2em, 2vw, 2.4em);
  color: var(--dark-text-color);
}

.first-text-block .second-block .p3:last-child{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 0.8em;
  color: var(--dark-text-color);
}

.first-text-block .last-row{
  color: var(--dark-text-color);
}

.first-text-block .last-row .persona-display{
  width:100%;
  height:auto;
}

.first-text-block .last-row .persona-display .circular_person_badge {
  width:60px;
  height:60px;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../Images/Yahye_Abdullahi.jpg');
  background-repeat: no-repeat;
  background-size: 60px 60px;
  flex-shrink: 0 !important;
}

.persona_name_details{
  margin-left:15px;
  color: var(--dark-text-color);
}

.persona_name_details p:first-of-type, .persona_name_details p:last-of-type{
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.persona_name_details p:last-of-type{
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.first-text-block .last-row .second-block .p3{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: var(--dark-text-color);
  position: relative;
}

.first-text-block .last-row .second-block .p3:after,
.first-text-block .last-row .second-block .p3:before {
    display: inline-block;
    height: 40px;
    transform: translateY(-10px);
    width: 30px;
}

.first-text-block .last-row .second-block .p3:before {
  content: url('../Images/opening-quote.png') !important;
  height:40px !important;
  width: 35px !important;
}

.first-text-block .last-row .second-block .p3:after {
  content: url('../Images/closing-quote.png') !important;
  height:40px !important;
  width: 35px !important;
}

.in_div_second_container{
  font-family: 'Nunito', sans-serif;
  color: var(--dark-text-color);
}

.quote-second-block{
  font-family: 'Nunito', sans-serif;
}

.quote-second-block p:first-of-type{
  font-size: clamp(1em, 2vw, 1.5em);
}

.quote-second-block p:last-of-type{
  font-weight: 600;
  font-size: clamp(0.9em, 2vw, 1.1em);
}

.quote-third-block p:first-of-type{
  font-size: clamp(1.2em, 2vw, 2em) !important;
}

.in_div_second_container .row .col-lg-3 p:first-of-type{
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0;
}

.in_div_second_container .row .col-lg-3 p:last-of-type{
  font-weight: 700;
  font-size: 4em;
}

/*-- first-text-block-section --*/

/*-- Second-text section--*/
 .second-text-block{
  font-family:'Inter', sans-serif;
}

.second-text-block .featured_heading_text:first-of-type{
  color: var(--tertiary-color);
  font-size:clamp(1.4em, 2vw, 2.8em);
  font-weight: 700;
  letter-spacing: 10px;
}

.second-text-block .featured_heading_text:last-of-type{
  color: var(--light-text-color);
  font-weight: 700;
  width:60%;
  font-size:clamp(3em, 2vw, 5em);
}

.core_values_display_card{
  width:30%;
  height:auto;
  margin:2vh 1%;
  background-color: var(--low-contrast-dark-color);
  transition:0.3s ease;
}

.core_values_display_card:hover{
  background-color: var(--tertiary-color);
}

.core_values_display_card:hover .text-section h5{
  color: var(--dark-text-color);
}

.core_values_display_card:hover .text-section p{
font-family: 'Nunito', sans-serif;
color: var(--dark-text-color);
}

.core_values_display_card_1:hover img {
content: url('../Images/core_values_icon_1_dark.png'); /* Change the image source as needed */
}

.core_values_display_card_2:hover img {
content: url('../Images/core_values_icon_5_dark.png'); /* Change the image source as needed */
}

.parent-container img {
transition: transform 0.3s ease; /* Add a transition for a smooth effect */
}

.core_values_display_card .heading-section{
width:100%;
height:auto;
margin-bottom: 4vh;
}

.responsive_core_values_img{
width:100px;
height:100px;
margin-bottom: calc(5vh + 2vmin);
}

.core_values_display_card .text-section{
width:100%;
height:auto;
font-family: 'Nunito', sans-serif;
}

.core_values_display_card .text-section h5{
  font-size:clamp(1.5em, 2vw, 3em);
  font-weight: 700;
  color: var(--light-text-color);
  margin-bottom: 5vh;
}

.core_values_display_card .text-section p{
  font-size:clamp(0.8em, 2vw, 1.5em);
  font-weight: 400;
  color: var(--low-light-text-color);
}
/*-- Second-text section--*/

/*-- Third-text section--*/
  .third-text-block{
    background-color: var(--light-text-color);
    font-family:'Inter', sans-serif;
  }

  .third-text-block .featured_heading_text:first-of-type{
    color: var(--tertiary-color);
    font-size:clamp(1.4em, 2vw, 2.8em);
    font-weight: 700;
    letter-spacing: 10px;
  }

  .third-text-block .featured_heading_text:last-of-type{
    color: var(--dark-text-color);
    font-weight: 700;
    width:60%;
    font-size:clamp(3em, 2vw, 5em);
  }

  .cards-display-section{
    padding-left: 2%;
  }
  
  .third_text_block_industry_section{
    width:31%;
    height:120px;
    margin:4vh 1%;
  }
  
  .third_text_block_industry_section_img_block{
    width:30%;
    height:100%;
    border-radius: 15px;
  }
  
  .responsive_featured_industry_img{
    width:100%;
    height:100%;
    border-radius: inherit;
  }
  
  .third_text_block_industry_section_text_block{
    width:65%;
    height:100%;
    margin-left: 5%;
  }
  
  .third_text_block_industry_section_text_block p{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: clamp(1em, 2vw, 2em);
    color: var(--dark-text-color);
  }

  .feature-call-today-btn{
    font-size: clamp(1em, 2vw, 1.4em);
    font-weight: 600;
    border-color:var(--dark-text-color) !important;
    transition: 0.3s ease;
  }
  
  .feature-call-today-btn:hover{
    border:none !important;
    background-color: var(--tertiary-color);
  }
  /*-- Third-text section--*/

  /*-- Fourth-text section--*/
  .fourth-text-block{
    font-family:'Inter', sans-serif;
  }

  .fourth-text-block .featured_heading_text:first-of-type{
    color: var(--tertiary-color);
    font-size:clamp(1.4em, 2vw, 2.8em);
    font-weight: 700;
    letter-spacing: 10px;
  }

  .fourth-text-block .featured_heading_text:last-of-type{
    color: var(--light-text-color);
    font-weight: 700;
    width:60%;
    font-size:clamp(3em, 2vw, 5em);
  }

  .our-services-featured-heading-text{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: clamp(1.2em, 2vw, 2.4em);
    color: var(--light-text-color);
  }
  
  .our-services-featured-link-text{
    font-family: 'Nunito', sans-serif;
    font-size: clamp(0.8em, 2vw, 1.6em);
    font-weight: 500;
    color: var(--low-light-text-color);
  }
  
  .our-services-call-today-btn{
    font-size: clamp(0.8em, 2vw, 1.6em);
    font-weight: 600;
    background-color: var(--light-text-color);
    transition: 0.3s ease;
  }
  
  .our-services-call-today-btn:hover{
    border:none !important;
    background-color: var(--tertiary-color);
  }
  /*-- Fourth-text section--*/

/*-- Fifth-text section--*/
.fifth-text-block{
  background-color: var(--light-text-color);
  font-family:'Inter', sans-serif;
  overflow:hidden !important;
}

.fifth-text-block .featured_heading_text:first-of-type{
  color: var(--dark-text-color);
  font-size: clamp(3.2em, 2vw, 4em);
  font-weight: 700;
  width:60%;
}

.custom_splidejs_cption{
  font-family:'Inter', sans-serif;
  font-weight: 700;
  font-size: clamp(1em, 2vw, 1.5em) !important;
  color: var(--dark-text-color);
  margin-top: 2vh;
  padding-right: 20px;
}
/*-- Fifth-text section--*/

/*-- Sixth-text section--*/
.sixth-text-block{
  font-family:'Inter', sans-serif;
  overflow:hidden !important;
}

.sixth-text-block .featured_heading_text:first-of-type{
  color: var(--light-text-color);
  font-size: 4.5em;
  font-weight: 700;
  width:60%;
}

.custom_splidejs_cption{
  font-family:'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color: var(--dark-text-color);
  margin-top: 2vh;
  padding-right: 20px;
}

.feature-testimonials-text{
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: clamp(1.6em, 2vw, 2.8em);
  color: var(--light-text-color);
  padding-top:1vh;
}

.custom-feature-testimonials-text{
  font-size: clamp(1.6em, 2vw, 2.8em) !important;
}

.feature-testimonials-text-name{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: clamp(1.6em, 2vw, 3.2em);
  color: var(--light-text-color);
}

.feature-testimonials-text-location{
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: clamp(1em, 2vw, 2em);
  color: var(--low-light-text-color);
}

.responsive-testimonials-feature-quote-img{
  transform: translateY(-30px);
}
/*-- sixth-text section--*/

/*-- Seventh-text section--*/
.seventh-text-block{
  background-color: var(--light-text-color);
  font-family:'Inter', sans-serif;
  overflow:hidden !important;
}

.seventh-text-block .featured_heading_text:first-of-type{
  color: var(--dark-text-color);
  font-size: clamp(4em, 2vw, 5em);
  font-weight: 700;
  width:60%;
}
/*-- Seventh-text section--*/

/*-- Eighth-text section--*/
.eighth-text-block{
  background-color: var(--light-text-color);
  font-family:'Inter', sans-serif;
  overflow:hidden !important;
}

.eighth-text-block .featured_heading_text:first-of-type{
  color: var(--dark-text-color);
  font-size: 4em;
  font-weight: 700;
  width:100%;
}

.eighth-text-block .feature-testimonials-text{
  color: var(--dark-text-color);
}

.eighth-text-block .feature-testimonials-text:last-of-type a{
  color: var(--dark-text-color) !important;
  font-weight: 600;
}

.eighth-text-block .feature-testimonials-text:last-of-type i{
  font-size: 1.5em;
  color: var(--tertiary-color);
  padding-right: 10px;
}

.eighth-text-block form label{
  font-family:'Inter', sans-serif;
  font-weight: 600;
  font-size: clamp(1.2em, vw, 1.5em);
  color: var(--dark-text-color);
  padding-top:1vh;
}

.eighth-text-block form input, .eighth-text-block form textarea{
  background-color: var(--input-bg-color);
}

.eighth-text-block .contact-form-block{
  position: relative;
}

/*-- custom submit button --*/
.display-link-circle-type-two{
  width:130px;
  height:130px;
  font-family:'Inter', sans-serif;
  font-weight: 400 !important;
  font-size: 1.2em !important;
  color: var(--light-text-color) !important;
  background-color: var(--tertiary-color) !important;
  border-radius:100%;
  flex-direction:column !important;
  align-items:center !important;
  justify-content: center !important;
  position: absolute;
  bottom:-2vh;
  left:-20%;
}

.responsive_featured_arrow_image_2{
  width: 20px;
  height: 20px;
}

.featured_our_work_link_text{
  font-size: clamp(0.7em, 2vw, 0.9em) !important;
  font-weight: 600;
}
/*-- custom submit button --*/
/*-- Eighth-text section--*/

/*-- Nineth-text section--*/
.nineth-text-block{
  font-family:'Inter', sans-serif;
  overflow:hidden !important;
}

.nineth-text-block .featured_heading_text:first-of-type{
  color: var(--light-text-color);
  font-size: 3em;
  font-weight: 700;
  width:100%;
}

.nineth-text-block .featured_heading_text-two{
  font-size: 2em;
  font-weight: 700;
  color: var(--light-text-color);
  width:100%;
}

.email-newsletter-form{
  width:70%;
  border:none;
  outline: none;
  color: var(--low-contrast-dark-color) !important;
  border-radius: 0;
  background-color: var(--input-bg-color-type-two);
}

.email-newsletter-form::placeholder {
  color: var(--light-text-color); /* Adjust the color to your preference */
}

.email-newsletter-form-submit-btn{
  width:30%;
  height:auto;
  background-color: var(--tertiary-color);
  color: var(--light-text-color);
}

.first-row-section, .second-row-section{
  border-bottom: 1px solid var(--input-bg-color-type-two);
}

.nineth-text-block .icon-display-section{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--input-bg-color-type-three);
}

.nineth-text-block .icon-display-section i{
  color:var(--light-text-color);
}

.phone-numbers-display-section{
  font-family:'Inter', sans-serif;
  color: var(--light-text-color);
  font-weight: 600;
  font-size: 1em;
  padding-left: 10%;
  flex-direction: column;
  border-left:1px solid var(--input-bg-color-type-two);
  flex-grow: 0 !important;
}

.icon-display-section{
  flex-shrink: 0 !important;
}

.feature-testimonials-text{
  font-size: 1em;
}
/*-- Nineth-text section--*/



/*-- Custom layout defined in media queries  --*/
@media(max-width: 767px){

  .hero-section-animation-block{
    width:100px !important;
    height:100px !important;
    position:absolute;
    top:-80px;
    right:20px;
  }
  
  /*-- hero section animation block --*/
  .badge {
    --badge-size: 100px;
    --badge-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--badge-size);
    height: var(--badge-size);
    background: var(--black);
    border-radius: 100%;
    box-shadow: inset 0 0 0 0.9rem var(--badge-color);
    animation: identifier 20s linear infinite;
  }
  
  .badge__emoji {
    display: block;
    margin: 0;
    animation: identifier 25s linear infinite;
    animation-direction: reverse;
    transition: all 0.3s;
    width:15px; 
    height:15px;
  }
  .badge__emoji:hover {
    opacity: 0.8;
    transform: scale(1.2);
  }
  
  .badge__char {
    --char-font-weight: 600;
    --char-font-size: 1em;
    --char-width: 10px;
    --char-font-family: "Arial", sans-serif;
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - var(--char-width) / 2);
    height: calc(var(--badge-size) / 2);
    width: var(--char-width);
    background-repeat: round;
    text-align: center;
    text-transform: uppercase;
    line-height: 1rem;
    font-weight: var(--char-font-weight);
    font-size: var(--char-font-size);
    color: var(--white);
    font-family: var(--char-font-family);
    transform-origin: bottom center;
    transform: rotate(var(--char-rotate));
  
    font-family:'Inter', sans-serif;
    font-weight: 300 !important;
    font-size: 0.5em !important;
    color: var(--light-text-color) !important;
  }
  
  @keyframes identifier {
    0% {
      transform: rotate(0deg);
    }
  
    10% {
      transform: rotate(0deg);
    }
  
    30% {
      transform: rotate(90deg);
    }
  
    40% {
      transform: rotate(90deg);
    }
  
    60% {
      transform: rotate(180deg);
    }
  
    70% {
      transform: rotate(180deg);
    }
  
    90% {
      transform: rotate(270deg);
    }
  
    95% {
      transform: rotate(270deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  /*--hero section animation block --*/

  /*-- our work section --*/
  .circles-gallery {
    position: relative;
    height: var(--size-pictureframe);
    margin-left: calc(var(--size-pictureframe) * 0.5);
  }
  .circles-gallery > * {
    position: relative;
    display: inline-block;
    margin-left: calc(var(--size-pictureframe) * -0.3);
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    z-index: 10;
  }

  .our_work_section_picture_spot{
    position: relative;
    width:100%;
    height:200px !important;
  }

  .responsive_featured_working_personnel{
    width:100%;
    max-width:500px;
    height:300px !important;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top:0;
  }

  .mb_our_work_display_btn_1{
    width:100%;
    max-width:500px;
    height:300px !important;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top:0;
  }

  .display-link-circle-mb{
    width:130px;
    height:130px;
    font-family:'Inter', sans-serif;
    font-weight: 400 !important;
    font-size:clamp(1.4em);
    color: var(--light-text-color) !important;
    background-color: var(--tertiary-color) !important;
    border-radius:100%;
    flex-direction:column !important;
    align-items:center !important;
    justify-content: center !important;
    transform:translateY(50%);
  }
  /*-- our work section --*/

  /*-- spacer section --*/
  .spacer-section{
    background-color: var(--light-text-color);
  }

  .spacer-section_in_div{
    min-height:2vh;
    border-bottom: 1px solid #717171;
  }
  /*-- spacer section --*/

  /*-- first-text-block-section --*/
  .first-text-block{
    font-family:'Inter', sans-serif;
    background-color: var(--light-text-color);
  }

  .first-text-block .in_div_container{
    border-bottom: 1px solid #717171;
  }

  .first-text-block .first-block{
    font-weight: 700;
    font-size: clamp(2em, 2vw, 5em);
    color: var(--dark-text-color);
  }

  .first-text-block .second-block{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: clamp(1.2em, 2vw, 2.4em);
    color: var(--dark-text-color);
  }

  .first-text-block .second-block .p3:last-child{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: clamp(0.9em, 2vw, 1.8em);
    color: var(--dark-text-color);
  }

  .first-text-block .last-row{
    color: var(--dark-text-color);
  }

  .first-text-block .last-row .persona-display{
    width:100%;
    height:auto;
  }

  .first-text-block .last-row .persona-display .circular_person_badge {
    width:60px;
    height:60px;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Images/random-person-3.jpg');
    background-repeat: no-repeat;
    background-size: 60px 60px;
    flex-shrink: 0 !important;
  }

  .persona_name_details{
    margin-left:15px;
    color: var(--dark-text-color);
  }

  .persona_name_details p:first-of-type, .persona_name_details p:last-of-type{
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 16px;
  }

  .persona_name_details p:last-of-type{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 13px;
  }

  .first-text-block .last-row .second-block .p3{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: var(--dark-text-color);
    position: relative;
  }

  .first-text-block .last-row .second-block .p3:after,
  .first-text-block .last-row .second-block .p3:before {
      display: inline-block;
      height: 40px;
      transform: translateY(-10px);
      width: 30px;
  }

  .first-text-block .last-row .second-block .p3:before {
    content: url('../Images/opening-quote.png') !important;
    height:40px !important;
    width: 35px !important;
  }

  .first-text-block .last-row .second-block .p3:after {
    content: url('../Images/closing-quote.png') !important;
    height:40px !important;
    width: 35px !important;
  }

  .in_div_second_container{
    font-family: 'Nunito', sans-serif;
    color: var(--dark-text-color);
  }

  .in_div_second_container .row .col-12 p:first-of-type{
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0;
  }

  .in_div_second_container .row .col-12 p:last-of-type{
    font-weight: 700;
    font-size: 3em;
  }
  /*-- first-text-block-section --*/

  /*-- Second-text section--*/
  .second-text-block{
    font-family:'Inter', sans-serif;
  }

  .second-text-block .featured_heading_text:first-of-type{
    color: var(--tertiary-color);
    font-size: 1.5em;
    font-weight: 700;
    /* letter-spacing: 10px; */
  }

  .second-text-block .featured_heading_text:last-of-type{
    color: var(--light-text-color);
    font-size: 3em;
    font-weight: 700;
    width:90%;
  }

  .core_values_display_card{
    width:96%;
    height:auto;
    margin:2vh 2%;
    background-color: var(--low-contrast-dark-color);
    transition:0.3s ease;
  }

  .core_values_display_card:hover{
    background-color: var(--tertiary-color);
 }
 
 .core_values_display_card:hover .text-section h5{
   color: var(--dark-text-color);
 }
 
 .core_values_display_card:hover .text-section p{
   font-family: 'Nunito', sans-serif;
   color: var(--dark-text-color);
 }
 
 .core_values_display_card_1:hover img {
   content: url('../Images/core_values_icon_1_dark.png'); /* Change the image source as needed */
 }
 
 .core_values_display_card_2:hover img {
   content: url('../Images/core_values_icon_5_dark.png'); /* Change the image source as needed */
 }
 
 .parent-container img {
   transition: transform 0.3s ease; /* Add a transition for a smooth effect */
 }
 
 .core_values_display_card .heading-section{
   width:100%;
   height:30vh;
 }
 
 .responsive_core_values_img{
  width:100px;
  height:100px;
 }
 
 .core_values_display_card .text-section{
   width:100%;
   height:auto;
 }
 
 .core_values_display_card .text-section h5{
   font-size: 1.5em;
   font-weight: 700;
   color: var(--light-text-color);
 }
 
 .core_values_display_card .text-section p{
   font-size: 1em;
   font-weight: 400;
   color: var(--low-light-text-color);
 }
  /*-- Second-text section--*/

  /*-- Third-text section--*/
  .third-text-block{
    background-color: var(--light-text-color);
    font-family:'Inter', sans-serif;
  }

  .third-text-block .featured_heading_text:first-of-type{
    color: var(--tertiary-color);
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 10px;
  }

  .third-text-block .featured_heading_text:last-of-type{
    color: var(--dark-text-color);
    font-size: 3em;
    font-weight: 700;
    width:90%;
  }

  .carousel-indicators .active{
    background-color: var(--tertiary-color) !important;
  }

  .carousel-indicators button {
    background-color: var(--input-bg-color-type-two) !important;
  }

  .cards-display-section{
    padding-left: 2%;
  }
  
  .third_text_block_industry_section{
    width:48%;
    height:120px;
    margin:4vh 1%;
  }
  
  .third_text_block_industry_section_img_block{
    width:45%;
    height:100%;
    max-height:80px;
    border-radius: 15px;
  }
  
  .responsive_featured_industry_img{
    width:100%;
    height:100%;
    border-radius: inherit;
  }
  
  .third_text_block_industry_section_text_block{
    width:50%;
    height:100%;
    margin-left: 5%;
  }
  
  .third_text_block_industry_section_text_block p{
    font-weight: 700;
    font-size: 0.9em;
    color: var(--dark-text-color);
  }
  
  /*-- Third-text section--*/

  /*-- Fourth-text section--*/
  .fourth-text-block{
    font-family:'Inter', sans-serif;
  }

  .fourth-text-block .featured_heading_text:first-of-type{
    color: var(--tertiary-color);
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 10px;
  }

  .fourth-text-block .featured_heading_text:last-of-type{
    color: var(--light-text-color);
    font-size: 3em;
    font-weight: 700;
    width:90%;
  }

  .our-services-featured-heading-text{
    font-size: 1.2em;
    font-weight: 700;
    color: var(--light-text-color);
  }
  
  .our-services-featured-link-text{
    font-size: 1em;
    font-weight: 500;
    color: var(--low-light-text-color);
  }
  
  .our-services-call-today-btn{
    font-size: 1em;
    font-weight: 600;
    background-color: var(--light-text-color);
    transition: 0.3s ease;
  }
  
  .our-services-call-today-btn:hover{
    border:none !important;
    background-color: var(--tertiary-color);
  }
  /*-- Fourth-text section--*/

  /*-- Fifth-text section--*/
  .fifth-text-block .featured_heading_text:first-of-type{
    color: var(--dark-text-color);
    font-size: 3em;
    font-weight: 700;
    width:90%;
    text-align: center;
  }

  .responsive-slider-img{
    max-width: 100%;
    height: auto;
  }
  /*-- Fifth-text section--*/

  /*-- Sixth-text section--*/
  .sixth-text-block{
    font-family:'Inter', sans-serif;
    overflow:hidden !important;
  }

  .sixth-text-block .featured_heading_text:first-of-type{
    color: var(--light-text-color);
    font-size: 3em;
    font-weight: 700;
    width:90%;
    text-align: center;
  }

  .splide__arrow--next{
    top:-4em;
    left: 50%;
    transform: translateX(50%);
    width:60px;
    height:60px;
    background-color: var(--dark-text-color) !important;
    opacity:1 !important;
    color:var(--light-text-color) !important;
  }

  #second-slider .splide__arrow--prev {
    top:-4em;
    right: calc(50% + 60px);
    transform: translateX(50%);
    width:60px;
    height:60px;
    background-color: transparent;
    opacity:1 !important;
    border:1px solid var(--light-text-color);
  }

.custom_splidejs_cption{
  font-family:'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color: var(--dark-text-color);
  margin-top: 2vh;
  padding-right: 20px;
}

.feature-testimonials-text{
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  color: var(--light-text-color);
  padding-top:1vh;
  text-align: center;
}

.feature-testimonials-text-name{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: var(--light-text-color);
  text-align: center;
}

.feature-testimonials-text-location{
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: var(--low-light-text-color);
  text-align: center;
}

.responsive-testimonials-feature-quote-img{
  transform: translateY(0px);
  max-width: 120px;
}
/*-- sixth-text section--*/

/*-- Seventh-text section--*/
.seventh-text-block{
  background-color: var(--light-text-color);
  font-family:'Inter', sans-serif;
  overflow:hidden !important;
}

.seventh-text-block .featured_heading_text:first-of-type{
  color: var(--dark-text-color);
  font-size: 3em;
  font-weight: 700;
  width:90%;
  margin-left: 5%;
  text-align: center;
}

.responsive-slider-img-type-2{
  display:block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.splide__caption__name{
  text-align: center;
}

.connect-social-links{
  justify-content: center;
}

#third-slider .splide__arrow--prev {
  top:-5em;
  right: calc(50% + 60px);
  transform: translateX(50%);
  width:60px;
  height:60px;
  background-color: transparent;
  opacity:1 !important;
  border:1px solid var(--dark-text-color);
}

#third-slider .splide__arrow--next {
  top:-5em;
}
/*-- Seventh-text section--*/

/*-- Eighth-text section--*/
.eighth-text-block{
  background-color: var(--light-text-color);
  font-family:'Inter', sans-serif;
  overflow:hidden !important;
}

.eighth-text-block .featured_heading_text:first-of-type{
  color: var(--dark-text-color);
  font-size: 3em;
  font-weight: 700;
  width:100%;
  text-align: center;
}

.eighth-text-block .feature-testimonials-text{
  color: var(--dark-text-color);
}

.eighth-text-block .feature-testimonials-text:last-of-type{
  justify-content: center;
}


.eighth-text-block .feature-testimonials-text:last-of-type a{
  color: var(--dark-text-color) !important;
  font-weight: 600;
}

.eighth-text-block .feature-testimonials-text:last-of-type i{
  font-size: 1.5em;
  color: var(--tertiary-color);
  padding-right: 10px;
}

.eighth-text-block form label{
  font-family:'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: var(--dark-text-color);
  padding-top:1vh;
}

.eighth-text-block form input, .eighth-text-block form textarea{
  background-color: var(--input-bg-color);
}

.eighth-text-block .contact-form-block{
  position: relative;
}

/*-- custom submit button --*/
.display-link-circle-type-two{
  width:130px;
  height:130px;
  font-family:'Inter', sans-serif;
  font-weight: 400 !important;
  font-size: 1.2em !important;
  color: var(--light-text-color) !important;
  background-color: var(--tertiary-color) !important;
  border-radius:100%;
  flex-direction:column !important;
  align-items:center !important;
  justify-content: center !important;
  position: absolute;
  bottom:-15vh;
  left:8%;
}

.responsive_featured_arrow_image_2{
  width: 20px;
  height: 20px;
}

.featured_our_work_link_text{
  font-size: 0.9em !important;
  font-weight: 600;
}
/*-- custom submit button --*/
/*-- Eighth-text section--*/

/*-- Nineth-text section--*/
.nineth-text-block{
  font-family:'Inter', sans-serif;
  overflow:hidden !important;
}

.nineth-text-block .featured_heading_text:first-of-type{
  color: var(--light-text-color);
  font-size: 3em;
  font-weight: 700;
  width:100%;
  text-align: center;
}

.nineth-text-block .featured_heading_text-two{
  font-size: 2em;
  font-weight: 700;
  color: var(--light-text-color);
  width:100%;
  text-align: center;
  padding-bottom: 2vh;
}

.email-newsletter-form{
  width:70%;
  border:none;
  outline: none;
  color: var(--low-contrast-dark-color) !important;
  border-radius: 0;
  background-color: var(--input-bg-color-type-two);
}

.email-newsletter-form::placeholder {
  color: var(--light-text-color); /* Adjust the color to your preference */
}

.email-newsletter-form-submit-btn{
  width:30%;
  height:auto;
  background-color: var(--tertiary-color);
  color: var(--light-text-color);
}

.first-row-section, .second-row-section{
  border-bottom: 1px solid var(--input-bg-color-type-two);
}

.nineth-text-block .icon-display-section{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--input-bg-color-type-three);
}

.nineth-text-block .icon-display-section i{
  color:var(--light-text-color);
}

.phone-numbers-display-section{
  font-family:'Inter', sans-serif;
  color: var(--light-text-color);
  font-weight: 600;
  font-size: 1em;
  padding-left: 10%;
  flex-direction: column;
  border-left:1px solid var(--input-bg-color-type-two);
  flex-grow: 0 !important;
}

.icon-display-section{
  flex-shrink: 0 !important;
}

.feature-testimonials-text{
  font-size: 1em;
}
/*-- Nineth-text section--*/

}

@media screen and (min-width:768px) and (max-width:991px){

  /*-- Our work section --*/
  .our-work-section-md-class{
    margin-top:3vh;
    width:80%;
  }

  .our-work-section-md-class-2{
    max-width: 80%;
  }

  .our_work_section_picture_spot{
    position: relative;
    width:100%;
    height:200px !important;
  }

  .responsive_featured_working_personnel{
    width:100%;
    max-width:500px;
    height:300px !important;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top:0;
  }

  .mb_our_work_display_btn_1{
    width:100%;
    max-width:500px;
    height:300px !important;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top:0;
  }

  .display-link-circle-mb{
    width:130px;
    height:130px;
    font-family:'Inter', sans-serif;
    font-weight: 400 !important;
    font-size:clamp(1.4em);
    color: var(--light-text-color) !important;
    background-color: var(--tertiary-color) !important;
    border-radius:100%;
    flex-direction:column !important;
    align-items:center !important;
    justify-content: center !important;
    transform:translateY(50%);
  }

    /*-- first-text-block-section --*/
    .first-text-block{
      font-family:'Inter', sans-serif;
      background-color: var(--light-text-color);
    }
  
    .first-text-block .in_div_container{
      border-bottom: 1px solid #717171;
    }
  
    .first-text-block .first-block{
      font-weight: 700;
      font-size: clamp(2em, 2vw, 5em);
      color: var(--dark-text-color);
    }
  
    .first-text-block .second-block{
      font-family: 'Nunito', sans-serif;
      font-weight: 500;
      font-size: clamp(1.2em, 2vw, 2.4em);
      color: var(--dark-text-color);
    }
  
    .first-text-block .second-block .p3:last-child{
      font-family: 'Nunito', sans-serif;
      font-weight: 500;
      font-size: clamp(0.9em, 2vw, 1.8em);
      color: var(--dark-text-color);
    }
  
    .first-text-block .last-row{
      color: var(--dark-text-color);
    }
  
    .first-text-block .last-row .persona-display{
      width:100%;
      height:auto;
    }
  
    .first-text-block .last-row .persona-display .circular_person_badge {
      width:60px;
      height:60px;
      border-radius: 50% !important;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('../Images/random-person-3.jpg');
      background-repeat: no-repeat;
      background-size: 60px 60px;
      flex-shrink: 0 !important;
    }
  
    .persona_name_details{
      margin-left:15px;
      color: var(--dark-text-color);
    }
  
    .persona_name_details p:first-of-type, .persona_name_details p:last-of-type{
      font-family: 'Nunito', sans-serif;
      font-weight: 900;
      font-size: 16px;
    }
  
    .persona_name_details p:last-of-type{
      font-family: 'Nunito', sans-serif;
      font-weight: 500;
      font-size: 13px;
    }
  
    .first-text-block .last-row .second-block .p3{
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
      font-size: 25px;
      color: var(--dark-text-color);
      position: relative;
    }
  
    .first-text-block .last-row .second-block .p3:after,
    .first-text-block .last-row .second-block .p3:before {
        display: inline-block;
        height: 40px;
        transform: translateY(-10px);
        width: 30px;
    }
  
    .first-text-block .last-row .second-block .p3:before {
      content: url('../Images/opening-quote.png') !important;
      height:40px !important;
      width: 35px !important;
    }
  
    .first-text-block .last-row .second-block .p3:after {
      content: url('../Images/closing-quote.png') !important;
      height:40px !important;
      width: 35px !important;
    }
  
    .in_div_second_container{
      font-family: 'Nunito', sans-serif;
      color: var(--dark-text-color);
    }
  
    .in_div_second_container .row .col-12 p:first-of-type{
      font-size: 1em;
      font-weight: 500;
      margin-bottom: 0;
    }
  
    .in_div_second_container .row .col-12 p:last-of-type{
      font-weight: 700;
      font-size: 3em;
    }
    /*-- first-text-block-section --*/

    /*-- Second-text section--*/
    .second-text-block{
      font-family:'Inter', sans-serif;
    }

    .second-text-block .featured_heading_text:first-of-type{
      color: var(--tertiary-color);
      font-size: 1.2em;
      font-weight: 700;
      /* letter-spacing: 10px; */
    }

    .second-text-block .featured_heading_text:last-of-type{
      color: var(--light-text-color);
      font-size: 3em;
      font-weight: 700;
      width:90%;
    }

    .core_values_display_card{
      width:28%;
      height:auto;
      margin:2vh 2%;
      background-color: var(--low-contrast-dark-color);
      transition:0.3s ease;
    }

    .core_values_display_card:hover{
      background-color: var(--tertiary-color);
  }
  
  .core_values_display_card:hover .text-section h5{
    color: var(--dark-text-color);
  }
  
  .core_values_display_card:hover .text-section p{
    font-family: 'Nunito', sans-serif;
    color: var(--dark-text-color);
  }
  
  .core_values_display_card_1:hover img {
    content: url('../Images/core_values_icon_1_dark.png'); /* Change the image source as needed */
  }
  
  .core_values_display_card_2:hover img {
    content: url('../Images/core_values_icon_5_dark.png'); /* Change the image source as needed */
  }
  
  .parent-container img {
    transition: transform 0.3s ease; /* Add a transition for a smooth effect */
  }
  
  .core_values_display_card .heading-section{
    width:100%;
    height:auto;
    margin-bottom: 4vh;
  }
  
  .responsive_core_values_img{
    width:100px;
    height:100px;
    margin-bottom: 4vh;
  }
  
  .core_values_display_card .text-section{
    width:100%;
    height:auto;
  }
  
  .core_values_display_card .text-section h5{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--light-text-color);
  }
  
  .core_values_display_card .text-section p{
    font-size: 1em;
    font-weight: 400;
    color: var(--low-light-text-color);
  }
  /*-- Second-text section--*/

  /*-- Third-text section--*/
   .third-text-block{
    background-color: var(--light-text-color);
    font-family:'Inter', sans-serif;
  }

  .third-text-block .featured_heading_text:first-of-type{
    color: var(--tertiary-color);
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 10px;
  }

  .third-text-block .featured_heading_text:last-of-type{
    color: var(--dark-text-color);
    font-size: 3em;
    font-weight: 700;
    width:90%;
  }

  .cards-display-section{
    padding-left: 2%;
  }
  
  .third_text_block_industry_section{
    width:31%;
    height:120px;
    margin:4vh 1%;
  }
  
  .third_text_block_industry_section_img_block{
    width:30%;
    height:100%;
    border-radius: 15px;
  }
  
  .responsive_featured_industry_img{
    width:100%;
    height:100%;
    border-radius: inherit;
  }
  
  .third_text_block_industry_section_text_block{
    width:65%;
    height:100%;
    margin-left: 5%;
  }
  
  .third_text_block_industry_section_text_block p{
    font-weight: 700;
    font-size: 1.2em;
    color: var(--dark-text-color);
  }
  /*-- Third-text section--*/

  /*-- Fourth-text section--*/
  .fourth-text-block{
    font-family:'Inter', sans-serif;
  }

  .fourth-text-block .featured_heading_text:first-of-type{
    color: var(--tertiary-color);
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 10px;
  }

  .fourth-text-block .featured_heading_text:last-of-type{
    color: var(--light-text-color);
    font-size: 3em;
    font-weight: 700;
    width:90%;
  }

  .our-services-featured-heading-text{
    font-size: 1.4em;
    font-weight: 700;
    color: var(--light-text-color);
  }
  
  .our-services-featured-link-text{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--low-light-text-color);
  }
  
  .our-services-call-today-btn{
    font-size: 1.2em;
    font-weight: 600;
    background-color: var(--light-text-color);
    transition: 0.3s ease;
  }
  
  .our-services-call-today-btn:hover{
    border:none !important;
    background-color: var(--tertiary-color);
  }
  /*-- Fourth-text section--*/

  /*-- Fifth-text section--*/
  .fifth-text-block .featured_heading_text:first-of-type{
    color: var(--dark-text-color);
    font-size: 3em;
    font-weight: 700;
    width:90%;
    text-align: center;
  }

  .responsive-slider-img{
    max-width: 100%;
    height: auto;
  }
  /*-- Fifth-text section--*/

    /*-- Sixth-text section--*/
    .sixth-text-block{
      font-family:'Inter', sans-serif;
      overflow:hidden !important;
    }
  
    .sixth-text-block .featured_heading_text:first-of-type{
      color: var(--light-text-color);
      font-size: 3em;
      font-weight: 700;
      width:90%;
      text-align: center;
    }
  
    .splide__arrow--next{
      top:-4em;
      left: 50%;
      transform: translateX(50%);
      width:60px;
      height:60px;
      background-color: var(--dark-text-color) !important;
      opacity:1 !important;
      color:var(--light-text-color) !important;
    }
  
    #second-slider .splide__arrow--prev {
      top:-4em;
      right: calc(50% + 60px);
      transform: translateX(50%);
      width:60px;
      height:60px;
      background-color: transparent;
      opacity:1 !important;
      border:1px solid var(--light-text-color);
    }
  
  .custom_splidejs_cption{
    font-family:'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    color: var(--dark-text-color);
    margin-top: 2vh;
    padding-right: 20px;
  }
  
  .feature-testimonials-text{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    color: var(--light-text-color);
    padding-top:1vh;
    text-align: center;
  }
  
  .feature-testimonials-text-name{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--light-text-color);
    text-align: center;
  }
  
  .feature-testimonials-text-location{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: var(--low-light-text-color);
    text-align: center;
  }
  
  .responsive-testimonials-feature-quote-img{
    transform: translateY(0px);
    max-width: 120px;
  }
  /*-- sixth-text section--*/

  /*-- Seventh-text section--*/
.seventh-text-block{
  background-color: var(--light-text-color);
  font-family:'Inter', sans-serif;
  overflow:hidden !important;
}

.seventh-text-block .featured_heading_text:first-of-type{
  color: var(--dark-text-color);
  font-size: 3em;
  font-weight: 700;
  width:90%;
  margin-left: 5%;
  text-align: center;
}

.responsive-slider-img-type-2{
  display:block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.splide__caption__name{
  text-align: center;
}

.connect-social-links{
  justify-content: center;
}

#third-slider .splide__arrow--prev {
  top:-5em;
  right: calc(50% + 60px);
  transform: translateX(50%);
  width:60px;
  height:60px;
  background-color: transparent;
  opacity:1 !important;
  border:1px solid var(--dark-text-color);
}

#third-slider .splide__arrow--next {
  top:-5em;
}
/*-- Seventh-text section--*/

/*-- Eighth-text section--*/
.eighth-text-block{
  background-color: var(--light-text-color);
  font-family:'Inter', sans-serif;
  overflow:hidden !important;
}

.eighth-text-block .featured_heading_text:first-of-type{
  color: var(--dark-text-color);
  font-size: 3em;
  font-weight: 700;
  width:100%;
  text-align: center;
}

.eighth-text-block .feature-testimonials-text{
  color: var(--dark-text-color);
}

.eighth-text-block .feature-testimonials-text:last-of-type{
  justify-content: center;
}


.eighth-text-block .feature-testimonials-text:last-of-type a{
  color: var(--dark-text-color) !important;
  font-weight: 600;
}

.eighth-text-block .feature-testimonials-text:last-of-type i{
  font-size: 1.5em;
  color: var(--tertiary-color);
  padding-right: 10px;
}

.eighth-text-block form label{
  font-family:'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: var(--dark-text-color);
  padding-top:1vh;
}

.eighth-text-block form input, .eighth-text-block form textarea{
  background-color: var(--input-bg-color);
}

.eighth-text-block .contact-form-block{
  position: relative;
}

/*-- custom submit button --*/
.display-link-circle-type-two{
  width:130px;
  height:130px;
  font-family:'Inter', sans-serif;
  font-weight: 400 !important;
  font-size: 1.2em !important;
  color: var(--light-text-color) !important;
  background-color: var(--tertiary-color) !important;
  border-radius:100%;
  flex-direction:column !important;
  align-items:center !important;
  justify-content: center !important;
  position: absolute;
  bottom:-15vh;
  left:5%;
}

.responsive_featured_arrow_image_2{
  width: 20px;
  height: 20px;
}

.featured_our_work_link_text{
  font-size: 0.9em !important;
  font-weight: 600;
}
/*-- custom submit button --*/
/*-- Eighth-text section--*/
  .featured_heading_text, .footer-logo-section-display{
    text-align: center;
  }
}

@media(max-width: 991px) {
  .hero-text-section h1{
    line-height: 1.2;
  }

  
}

@media (min-width: 1400px) {
  .hero-text-section{
    margin-top:4vh !important;
  }
}